#aleatorio{

    background-image: url("12.jpeg");
    text-align: center;
    font-size: x-large;
    color: gold;
    padding: 25px;
    }
    #naotenhomaisideiadeID{

    font-size: large;
    color: darkblue;

    }
    #AAAA{

    text-align: center;
    font-size:x-large;
    background-color: black;
    color: aliceblue;
    padding: 22px;

    }
    #mds{

     font-size:x-large;
    }
    #xxx{

    text-align: center;
    font-size: x-large;
    background-color: black;
    color: aliceblue;
    padding: 22px;
    }